openapi: 3.1.0
info:
  title: Paylocity Integrations REST Background Check Payroll API
  description: The Paylocity Integrations API exposes employees, demographics, status, pay rates, earnings, deductions, local/state taxes, onboarding, payroll history, time and labor, scheduling, learning management, background check, and custom-field data. Authentication uses OAuth 2.0 client credentials issued by Paylocity. API hosts include api.paylocity.com (production) and a sandbox tenant provided after partner approval.
  version: '2.0'
  contact:
    name: Paylocity Developer Portal
    url: https://developer.paylocity.com/
servers:
- url: https://api.paylocity.com
  description: Production
security:
- oauth2ClientCredentials: []
tags:
- name: Payroll
paths:
  /payentry/v2/payentryimport:
    post:
      tags:
      - Payroll
      summary: Create a new payroll batch
      operationId: createPayrollBatch
      responses:
        '202':
          description: Payroll batch accepted.
  /payentry/v2/payentryimport/{timeImportFileTrackingId}:
    parameters:
    - name: timeImportFileTrackingId
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Payroll
      summary: Get payroll batch status
      operationId: getPayrollBatchStatus
      responses:
        '200':
          description: Payroll batch status.
  /apihub/payrollhistory/v1/companies/{companyId}/employees/{employeeId}/paystatements:
    parameters:
    - name: companyId
      in: path
      required: true
      schema:
        type: string
    - name: employeeId
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Payroll
      summary: List employee pay statements
      operationId: listPayStatements
      responses:
        '200':
          description: A list of pay statements.
components:
  securitySchemes:
    oauth2ClientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.paylocity.com/IdentityServer/connect/token
          scopes: {}
      description: OAuth 2.0 client credentials grant. Credentials are provisioned by Paylocity.
