openapi: 3.1.0
info:
  title: Paylocity Integrations REST Background Check Taxes API
  description: The Paylocity Integrations API exposes employees, demographics, status, pay rates, earnings, deductions, local/state taxes, onboarding, payroll history, time and labor, scheduling, learning management, background check, and custom-field data. Authentication uses OAuth 2.0 client credentials issued by Paylocity. API hosts include api.paylocity.com (production) and a sandbox tenant provided after partner approval.
  version: '2.0'
  contact:
    name: Paylocity Developer Portal
    url: https://developer.paylocity.com/
servers:
- url: https://api.paylocity.com
  description: Production
security:
- oauth2ClientCredentials: []
tags:
- name: Taxes
paths:
  /api/v2/companies/{companyId}/employees/{employeeId}/localtax:
    parameters:
    - name: companyId
      in: path
      required: true
      schema:
        type: string
    - name: employeeId
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Taxes
      summary: List local taxes for employee
      operationId: listLocalTaxes
      responses:
        '200':
          description: A list of local taxes.
    post:
      tags:
      - Taxes
      summary: Add a local tax
      operationId: addLocalTax
      responses:
        '201':
          description: Local tax added.
  /api/v2/companies/{companyId}/employees/{employeeId}/statetax/primary:
    parameters:
    - name: companyId
      in: path
      required: true
      schema:
        type: string
    - name: employeeId
      in: path
      required: true
      schema:
        type: string
    post:
      tags:
      - Taxes
      summary: Upsert primary state tax
      operationId: upsertPrimaryStateTax
      responses:
        '200':
          description: Primary state tax upserted.
components:
  securitySchemes:
    oauth2ClientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.paylocity.com/IdentityServer/connect/token
          scopes: {}
      description: OAuth 2.0 client credentials grant. Credentials are provisioned by Paylocity.
