openapi: 3.1.0
info:
  title: Paylocity Integrations REST Background Check LMS API
  description: The Paylocity Integrations API exposes employees, demographics, status, pay rates, earnings, deductions, local/state taxes, onboarding, payroll history, time and labor, scheduling, learning management, background check, and custom-field data. Authentication uses OAuth 2.0 client credentials issued by Paylocity. API hosts include api.paylocity.com (production) and a sandbox tenant provided after partner approval.
  version: '2.0'
  contact:
    name: Paylocity Developer Portal
    url: https://developer.paylocity.com/
servers:
- url: https://api.paylocity.com
  description: Production
security:
- oauth2ClientCredentials: []
tags:
- name: LMS
paths:
  /apihub/learningmanagementsystem/v1/companies/{companyId}/contents:
    parameters:
    - name: companyId
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - LMS
      summary: List LMS contents
      operationId: listLmsContents
      responses:
        '200':
          description: A list of LMS content.
    post:
      tags:
      - LMS
      summary: Create LMS content
      operationId: createLmsContent
      responses:
        '201':
          description: LMS content created.
components:
  securitySchemes:
    oauth2ClientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.paylocity.com/IdentityServer/connect/token
          scopes: {}
      description: OAuth 2.0 client credentials grant. Credentials are provisioned by Paylocity.
