openapi: 3.1.0
info:
  title: Paylocity Integrations REST Background Check Earnings API
  description: The Paylocity Integrations API exposes employees, demographics, status, pay rates, earnings, deductions, local/state taxes, onboarding, payroll history, time and labor, scheduling, learning management, background check, and custom-field data. Authentication uses OAuth 2.0 client credentials issued by Paylocity. API hosts include api.paylocity.com (production) and a sandbox tenant provided after partner approval.
  version: '2.0'
  contact:
    name: Paylocity Developer Portal
    url: https://developer.paylocity.com/
servers:
- url: https://api.paylocity.com
  description: Production
security:
- oauth2ClientCredentials: []
tags:
- name: Earnings
paths:
  /api/v2/companies/{companyId}/employees/{employeeId}/earnings:
    parameters:
    - name: companyId
      in: path
      required: true
      schema:
        type: string
    - name: employeeId
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Earnings
      summary: List employee earnings
      operationId: listEarnings
      responses:
        '200':
          description: A list of earnings.
    post:
      tags:
      - Earnings
      summary: Upsert employee earning
      operationId: upsertEarning
      responses:
        '200':
          description: Earning upserted.
  /api/v2/companies/{companyId}/employees/{employeeId}/earnings/{earningCode}/{startDate}:
    parameters:
    - name: companyId
      in: path
      required: true
      schema:
        type: string
    - name: employeeId
      in: path
      required: true
      schema:
        type: string
    - name: earningCode
      in: path
      required: true
      schema:
        type: string
    - name: startDate
      in: path
      required: true
      schema:
        type: string
        format: date
    get:
      tags:
      - Earnings
      summary: Get a specific earning entry
      operationId: getEarning
      responses:
        '200':
          description: Earning details.
    delete:
      tags:
      - Earnings
      summary: Delete a specific earning entry
      operationId: deleteEarning
      responses:
        '200':
          description: Earning deleted.
components:
  securitySchemes:
    oauth2ClientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.paylocity.com/IdentityServer/connect/token
          scopes: {}
      description: OAuth 2.0 client credentials grant. Credentials are provisioned by Paylocity.
