openapi: 3.1.0
info:
  title: Paylocity Integrations REST Background Check Employees API
  description: The Paylocity Integrations API exposes employees, demographics, status, pay rates, earnings, deductions, local/state taxes, onboarding, payroll history, time and labor, scheduling, learning management, background check, and custom-field data. Authentication uses OAuth 2.0 client credentials issued by Paylocity. API hosts include api.paylocity.com (production) and a sandbox tenant provided after partner approval.
  version: '2.0'
  contact:
    name: Paylocity Developer Portal
    url: https://developer.paylocity.com/
servers:
- url: https://api.paylocity.com
  description: Production
security:
- oauth2ClientCredentials: []
tags:
- name: Employees
paths:
  /api/v2/companies/{companyId}/employees:
    parameters:
    - name: companyId
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Employees
      summary: List employees
      operationId: listEmployees
      responses:
        '200':
          description: A list of employees.
    post:
      tags:
      - Employees
      summary: Add a new employee
      operationId: addEmployee
      responses:
        '201':
          description: Employee created.
  /api/v2/companies/{companyId}/employees/{employeeId}:
    parameters:
    - name: companyId
      in: path
      required: true
      schema:
        type: string
    - name: employeeId
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Employees
      summary: Get employee
      operationId: getEmployee
      responses:
        '200':
          description: Employee details.
    patch:
      tags:
      - Employees
      summary: Update employee
      operationId: updateEmployee
      responses:
        '200':
          description: Employee updated.
  /api/v2/companies/{companyId}/employees/{employeeId}/onboarding:
    parameters:
    - name: companyId
      in: path
      required: true
      schema:
        type: string
    - name: employeeId
      in: path
      required: true
      schema:
        type: string
    post:
      tags:
      - Employees
      summary: Onboard employee
      operationId: onboardEmployee
      responses:
        '200':
          description: Employee onboarded.
components:
  securitySchemes:
    oauth2ClientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.paylocity.com/IdentityServer/connect/token
          scopes: {}
      description: OAuth 2.0 client credentials grant. Credentials are provisioned by Paylocity.
