openapi: 3.1.0
info:
  title: Paylocity Integrations REST Background Check Time API
  description: The Paylocity Integrations API exposes employees, demographics, status, pay rates, earnings, deductions, local/state taxes, onboarding, payroll history, time and labor, scheduling, learning management, background check, and custom-field data. Authentication uses OAuth 2.0 client credentials issued by Paylocity. API hosts include api.paylocity.com (production) and a sandbox tenant provided after partner approval.
  version: '2.0'
  contact:
    name: Paylocity Developer Portal
    url: https://developer.paylocity.com/
servers:
- url: https://api.paylocity.com
  description: Production
security:
- oauth2ClientCredentials: []
tags:
- name: Time
paths:
  /apihub/time/v2/companies/{companyId}/punchdetails:
    parameters:
    - name: companyId
      in: path
      required: true
      schema:
        type: string
    post:
      tags:
      - Time
      summary: Submit punch details batch
      operationId: createPunchDetails
      responses:
        '202':
          description: Punch details accepted for processing.
  /apihub/time/v2/companies/{companyId}/employees/{employeeId}/punchdetails:
    parameters:
    - name: companyId
      in: path
      required: true
      schema:
        type: string
    - name: employeeId
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Time
      summary: Get punch details for an employee
      operationId: getEmployeePunchDetails
      responses:
        '200':
          description: A list of punch details.
components:
  securitySchemes:
    oauth2ClientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.paylocity.com/IdentityServer/connect/token
          scopes: {}
      description: OAuth 2.0 client credentials grant. Credentials are provisioned by Paylocity.
